@using Rick_and_Morty_API.Models
@model Root

<<div class="charCollection">
    @foreach (var character in Model.Results)
    {
            <img src=@character.Image>
            <h4 style="color:chartreuse"><b>Name: @character.Name</b></h4>
            <p style="color:chartreuse">Species: @character.Species</p>
            <p style ="color:chartreuse">Gender: @character.Gender</p>
            <p style="color:chartreuse">Type: @character.Type</p>
            <p style="color:chartreuse">Status: @character.Status</p>
            <p style="color:chartreuse">Origin: @character.Origin.Name</p>
            <p style="color:chartreuse">Location: @character.Location.Name</p>
    }
</div>
