@using Rick_and_Morty_API.Models
@model Root

<body>
    <header>
        <div>
            @if (@Model.Info.Prev != null)
            {
                <a asp-action="Index" asp-route-resource_url="@Model.Info.Prev" class="btn btn-lg btn-success">Previous Page</a>
            }
            @if (@Model.Info.Next != null)
            {
                <a asp-action="Index" asp-route-resource_url="@Model.Info.Next" class="btn btn-lg btn-success">Next Page</a>
            }
            </div>

        <div class="charCollection">
            <p><strong>Characters</strong></p>
            @foreach (var character in Model.Results)
            {
                <ul style="list-style:none">
                    <li style="color:chartreuse">Name: @character.Name</li>
                    <li>Species: @character.Species</li>
                <li>Gender: @character.Gender</li>
                    <li>Type: @character.Type</li>
                    <li>Status: @character.Status</li>
                    <li><img src=@character.Image></li>
                </ul>
            }
        </div>
    </header>
    <footer>
        <h1>Rick and Morty</h1>
    </footer>
</body>