@using Rick_and_Morty_API.Models
@model Root


<div>

    <p><link href=@Model.Info.Prev>Previous Page</p>
    <p><link href=@Model.Info.Next>Next Page</p>
</div>

<div class="charCollection">
    <p><strong>Characters</strong></p>
    @foreach (var character in Model.Results)
    {
        <ul style="list-style:none">
            <li style="color:chartreuse">Name: @character.Name</li>
            <li>Species: @character.Species</li>
            <li>Gender: @character.Gender</li>
            <li>Type: @character.Type</li>
            <li>Status: @character.Status</li>
            <li><img src=@character.Image></li>
        </ul>
    }
</div>
